<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários Cadastrados</title>
</head>
<body>

    <table>
       <!-- <th:block th:each="user : ${usuario}">
           <tr>
              <td th:text="${user.id}"></td>
              <td th:text="${user.nome}"></td>
              <td th:text="${user.usuario}"></td>
              <td th:text="${user.email}"></td>
              <td th:text="${user.senha}"></td>
           </tr>
           <tr>
              <td colspan="2" th:text="${user.address}">...</td>
           </tr>
        </th:block> -->
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Usuário</th>
            <th>Email</th>
            <th>Senha</th>
        </tr>
        <tr>
            <td> 1</td>
            <td> Jhon Kennedy</td>
            <td> JhonLego </td>
            <td> jhonkennedy@gmail.com</td>
            <td> 210713 </td>
        </tr>
     </table>
    
</body>
</html>